os: osx
matrix:
  include:
  # OSX 10.10 Yosemite
  - osx_image: xcode6.4
  # OSX 10.11 El Capitan
  - osx_image: xcode7.3
  - osx_image: xcode8
  # macOS 10.12 Sierra
  - osx_image: xcode8.3
  - osx_image: xcode9
language: generic
install:
  - brew install python3
  - python3 -m pip install tox
  - make -f Makefile
script:
  - export DYLD_LIBRARY_PATH=`pwd`/tests/objc
  - python3 setup.py test
  - python3 -m tox -e flake8
