# Note: See the PyPA documentation for a list of file names that are included/excluded by default:
# https://packaging.python.org/guides/using-manifest-in/#how-files-are-included-in-an-sdist
# Please only add entries here for files that are *not* already handled by default.

include .git-blame-ignore-revs
include .pre-commit-config.yaml
include .readthedocs.yml
include CHANGELOG.rst
include CONTRIBUTING.md
include tox.ini
recursive-include changes *.rst
include docs/Makefile
include docs/make.bat
include docs/spelling_wordlist
recursive-include docs *.png *.py *.rst
prune docs/_build
include tests/objc/Makefile
recursive-include tests *.h *.m *.py
