include LICENSE
include README.rst
include CHANGELOG.rst
include CONTRIBUTING.md
include tox.ini
include Makefile
recursive-include tests *.py
recursive-include tests *.h
recursive-include tests *.m
recursive-include docs *.bat
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
