name: Create Release

on:
  push:
    tags:
      - "v*"

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    with:
      attest-package: "true"

  docs:
    name: Verify Docs Build
    uses: beeware/.github/.github/workflows/docs-build-verify.yml@main
    secrets: inherit
    with:
      project-name: "rubicon-objc"
      project-version: ${{ github.ref_name }}

  release:
    name: Create Release
    needs: [ ci, docs ]
    # This has to be run on macOS, because rubicon tries to load the Foundation library
    runs-on: macOS-latest
    permissions:
      contents: write
    steps:
      - name: Set build variables
        run: |
          echo "VERSION=${GITHUB_REF_NAME#v}" | tee -a $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.X"

      - name: Get packages
        uses: actions/download-artifact@v4.3.0
        with:
          name: ${{ needs.ci.outputs.artifact-name }}
          path: dist

      - name: Install packages
        run: python -m pip install dist/rubicon_objc-*.whl

      - name: Check version number
        # Check that the setuptools_scm-generated version number is still the same when
        # installed from a wheel with setuptools_scm not present.
        run: |
          set -x
          test $(python -c "from rubicon.objc import __version__; print(__version__)") = $VERSION

      - name: Create Release
        uses: ncipollo/release-action@v1.16.0
        with:
          name: ${{ env.VERSION }}
          draft: true
          artifacts: dist/*
          artifactErrorsFailBuild: true

  test-publish:
    name: Publish test package
    needs: [ ci, docs, release ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      # This permission is required for trusted publishing.
      id-token: write
    steps:
      - name: Get packages
        uses: actions/download-artifact@v4.3.0
        with:
          name: ${{ needs.ci.outputs.artifact-name }}
          path: dist

      - name: Publish release to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
